@model AcmeIncWeb.Models.User

@{
    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="~/css/buttons.css" />
}

<div style="margin-top:5%">

    <center>
        <h4>Login</h4>
        <hr />
        <div class=form-horizontal>

            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" style="width:400px" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" style="width:400px" class="form-control" type="password" />

                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="gradient-button gradient-button-4" />
                </div>
            </form>
        </div>

        <div>
            <p>Don't have an account?   <a asp-action="CreateCustomer">Register here</a></p>
        </div>
    </center>
</div>